#displayIcons {
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center ;
}


main {

    display: flex ;
    justify-content: center;
    margin-top: 20px ;
    margin-bottom: 20px ;
}

#displayIcons p {
    width: 60% ;
    text-align: center;
}

#skillsH1 {
    color: rgb(106, 183, 235) ;
}

#skillsDiv h3 {
    margin: 0px ;
    margin-top: 15px ;
}

h5 {
    margin: 0px ;
}

.skillsSection {
    display: flex ;
    flex-direction: column ;
    align-items: center;
}

#dataSkills {
    margin-right: 20px ;
    display: flex ;
    flex-direction: column ;
    align-items: center;
}

#webSkills {
    margin-left: 20px ;
}

#dataSkills p {
    font-size: 13px ;
    margin: 0px ;
}

#webSkills p {
    font-size: 13px ;
    margin: 0px ;
}

hr {
    width: 60% ;
}

#decorativeSunflower {
    display: flex ;
    align-items: center ;
}

#decorativeSunflower img {
    width: 250px ;
}

#skillsDiv {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60% ;
}

h3 {
    margin: 0px ;
    margin-top: 15px ;
}

.icons {
    width: 150px ;
    height: 150px;
    border-radius: 100% ;
    margin-left: 50px ;
    margin-right: 50px ;
}
