#bannerImage {
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    height: 375px ;
    background-image: url("../../images/yarn.jpeg") ;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100% ;
  }
  
  #banner1 {
    margin: 20px ;
    display: flex ;
    justify-content: flex-start ;
    align-items: flex-start ;
  }
  
  #banner2 {
    display: flex ;
    justify-content: flex-end ;
    align-items: flex-end ;
    margin-bottom: 20px ;
  }

  #bannerImage h2 {
    margin-right: 75px ;
    padding: 8px ;
    background-color: white ;
    color: rgb(106, 183, 235) ;
  }
  
  h4 {
    margin: 0px ;
    color:rgb(106, 183, 235) ;
  }
  
  #bannerImage h1 {
    margin: 0px ;
    background-color: white ;
    color: rgb(106, 183, 235) ;
    display: inline ;
    text-align: center ;
    padding: 10px ;
  }